{% extends "base.html" %}
{% block content %}

<h2 class="fw-bold mb-4">Admin Dashboard</h2>

<div class="row g-4">

    <div class="col-md-4">
        <div class="card dashboard-card shadow-sm">
            <div class="card-body text-center">
                <i class="bi bi-people-fill icon-blue"></i>
                <h6 class="mt-2">Students</h6>
                <h3>120</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card dashboard-card shadow-sm">
            <div class="card-body text-center">
                <i class="bi bi-person-badge-fill icon-green"></i>
                <h6 class="mt-2">Teachers</h6>
                <h3>18</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card dashboard-card shadow-sm">
            <div class="card-body text-center">
                <i class="bi bi-cash-stack icon-yellow"></i>
                <h6 class="mt-2">Fees</h6>
                <h3>₹45,000</h3>
            </div>
        </div>
    </div>

</div>

{% endblock %}