{% extends "base.html" %}
{% block content %}

<h2>Add Fees</h2>

<form method="post" class="card p-4 shadow col-md-6">
    <select name="student_id" class="form-select mb-3" required>
        <option value="">Select Student</option>
        {% for s in students %}
        <option value="{{ s[0] }}">{{ s[1] }} (Class {{ s[2] }})</option>
        {% endfor %}
    </select>

    <input type="number" name="amount" class="form-control mb-3" placeholder="Amount" required>

    <select name="status" class="form-select mb-3">
        <option value="Paid">Paid</option>
        <option value="Due">Due</option>
    </select>

    <button class="btn btn-success">Save Fees</button>
</form>

{% endblock %}
